body {
    background-color: gainsboro;
}

table, td {
    border: 2px darkgoldenrod;
    border-style: outset;
    font-size: 16px;
    font-family: "Courier New", serif;
    font-weight: bold;
    text-align: center;
}

table {
    background-color: sandybrown;

}

td {
    width: 16px;
    height: 16px;
}

#almafa {
    background-color: olive;
    padding: 5px;
    width: auto;
    align-items: center;
    align-self: center;
}

.cell {
    display: table-cell;
    width: 30px;
    height: 30px;
    border: 3px goldenrod;
    border-style: outset;
    text-align: center;
    vertical-align: middle;

}

.table {
    display: table;
    border: 4px goldenrod;
    border-style: outset;
}

.row {
    display: table-row;
}

.piros {
    background-color: mediumvioletred;
}

.zold {
    background-color: darkcyan;
}

.sarga {
    background-color: sandybrown;
}

.revealed {
    border-style: inset;
    font-family: "Courier 10 Pitch", sans-serif;
}

.flagged {
    background-color: black;
}

.neutral {
    background-color: white;
}

.bomb {
    background-color: red;
    pointer-events:none;
}

.zero {
    color: midnightblue;
}

.one {
    color: darkblue;
}

.two {
    color: blue;
}

.three {
    color: darkcyan;
}

.four {
    color: mediumseagreen;
}

.five {
    color: green;
}

.six {
    color: darkolivegreen;
}

.seven {
    color: saddlebrown;
}

.eight {
    color: darkred;
}